*{
    margin: 0;
    padding: 0;
    color: #d8d8d8;
}

body{
    background-color: #242424;
}

.MainText{
    font-family: 'Montserrat', sans-serif;
    /* text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.3); */
    height: 200px;
    padding-top: 30vh;
    position: relative;
    width: 100%;
    font-size: 2.5vh;
    animation-name: text;
    animation-duration: 2s;
    line-height: 9vh;
    animation-timing-function: ease-out;
    text-align: center;
}

a:link{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    div.MainText {
      font-size: 0.7vh;
      line-height: 4vh;
    }
  }

  @media screen and (max-width: 900px) {
    div.MainText {
      font-size: 1vh;
      line-height: 6vh;
    }
  }

@keyframes text{
    0% {opacity: 0%; padding-top: 30vw;}
    100% {opacity: 100%; padding-top: 30vh;}
}

button {
    background-color: #6d6d6d9f; /* Green */
    border: none;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 18px;
  }